<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="801ad414-6d5c-4b3a-97a9-72fcd38bcc92" Publisher="CN=Dimitar" Version="1.0.0.0" />
  <Properties>
    <DisplayName>Store Socket Server</DisplayName>
    <PublisherDisplayName>Dimitar</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Store_Socket_Server.App">
      <VisualElements DisplayName="Store Socket Server" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="Store Socket Server" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="privateNetworkClientServer" />
    <Capability Name="internetClientServer" />
  </Capabilities>
</Package>